body {
  text-align: center;
  display: block;
}

button {
  margin-top: 30px;
  margin-right: 5px;
  padding: 12px;
  background-color: #f5f5f5;
  font-size: 13px;
  font-weight: bold;
  font-family: arial,sans-serif;
  color: #757575;
  border: 1px solid;
  border-color: #f5f5f5;
  border-radius: 2px;
}

.text {
  color: #757575;
}

.center-all {
  margin-top: 89px;
}

.img-center {
  margin-left: -15px;
}

.text {
  padding: 8px;
}

.textBox {
  width: 550px;
  height: 35px;
  display: inline-block;
  background-image: url("GoogleMic.png");
  background-position: right;
  background-repeat: no-repeat;
  border: 1px solid #CECECE;
}
