.img-circle {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-left: 10px;
  vertical-align: middle;
}

.span, .text {
  vertical-align: middle;
  display: table-cell;
}

h1 {
  display: table;
  font-family: 'Baloo Paaji', cursive;
}

h2 {
  font-size: 35px;
}

body {
  font-family: 'Ubuntu', sans-serif;
  line-height: 1.58;
  letter-spacing: -.003em;
}

.bodyContent {
  width: 700px;
  margin: 0 auto;
  display: block;
}

.headerContent {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
}

.introImage {
  display: block;
  max-width: 700px;
  max-height: 664px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
